{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> One Minute Pitch </title>
        {% endif %}
    </head>
  <body>
    <!-- Pickup Pitches section  -->
       <h3> Pickup Pitches</h3>
        <ul>
           {{ macro.displayPitchList(pickup)}}
       </ul>
      <!-- interview pitch -->
      <h3>Interview Pitches</h3>
      <ul>
       {{ macro.displayPitchList(interview)}}
      </ul>
      <!-- product pitches -->
      <h3>Product Pitches</h3>
      <ul>
         {{ macro.displayPitchList(product)}}
      </ul>
      <!-- promotion pitches -->
      <h3>Promotion Pitches</h3>
      <ul>
         {{ macro.displayPitchList(promotion)}}
      </ul>
  </body>
</html>
