<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><strong><em>One Minute Pitch<em></strong></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#pickup">PickUp Pitches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#music">Music Pitches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#life">Life Pitches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/#interview">Interview Pitches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/#production">Production Pitches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/#promotion">Promotion Pitches</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
     {% if current_user.is_authenticated %}
     <li>{{current_user.username}}</li>
   <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
   <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
   {% else %}
   <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
   {%endif%}
     </ul>
  </div>
</nav>
